
.edit-card-header-content {
    margin-top: 20px;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--bg-100);
    overflow-x: auto;
    white-space: nowrap;
    margin-bottom: 50px;
  }
  
  .edit-card-header-content button {
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    font-family: "Montserrat", "sans-serif";
    width: 25%;
    background-color: var(--bg-300);
    color: var(--text-100);
  }
  
  .edit-card-header-content button.active {
    border-bottom: 2px solid #8B5FBF;
  }
  

  /* Basic details style */


  .basic-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .basic-details-content {
    background-color: var(--bg-300);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 50px;
    width: 100%;
  }
  
  .basic-details-form {
    display: flex;
    flex-direction: column;
  }

  .url-alias-label{
    font-weight: bold;
    margin-bottom: 10px;
  }

  .url-alias-input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .basic-details-label {
    font-weight: bold;
    margin-top: 10px;
  }
  
  .basic-details-input {
    padding: 10px;
    /* border: 1px solid #ccc; */
    border: none;
    border-radius: 8px;
    margin-bottom: 10px;
    margin-top: 5px;
    width: 100%;
    background-color: var(--bg-200);
    color: var(--text-100);

  }
  
  .basic-details-input-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3%;
  }
  
  .basic-details-h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
  }
  
  .basic-details-buttons-flex {
    display: flex;
    gap: 20px;
    margin-top: 20px;
  }
  
  .save-basic,
  .cancel-basic {
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    color: #fff;
  }
  
  .save-basic {
    background-color: #8B5FBF;
  }
  
  .cancel-basic {
    background-color: #dc3545;
  }

  @media screen and (max-width: 500px) {
    .basic-details-input-row {
      flex-direction: column;
    }
  
    .basic-details-input-row > div {
      width: 100%;
    }
  
    .basic-details-buttons-flex {
      justify-content: space-between;
      flex-direction: column;
    }
  }

  @media screen and (max-width: 690px) {
    .basic-details-input-row {
      grid-template-columns: repeat(1, 1fr);
    }
  
    
  }


  
.templates-card{
  word-wrap: break-word;
  background-clip: border-box;
  background-color: var(--bg-300);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 0 solid rgba(6,9,23,.125);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-width: 0;
  position: relative;

}

.templates-card-body{
  flex: 1 1 auto;
  padding: 2.5rem;
}

.temp-col-label{
  margin-bottom: .75rem !important;
  width: 100%;
}

.templates-form-group{
  font-size: 18px;
  margin-bottom: .5rem;
  font-weight: bold;
}

.vcard-template{
  margin-bottom: 1.75rem !important;
}

.templates-row{
  gap: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 0 auto;
}

.temp-col-3{
  margin-bottom: .75rem !important;
  flex: 0 0 auto;
}

.templates-radio{
  /* background-color: #fff; */
  border: 1px solid #dee2e6;
  border-radius: .313rem;
  padding: .25rem;
  cursor: pointer;
  display: block;
  margin: auto;
  position: relative;
  width: 300px;
  height: 500px;
  overflow: hidden;
  position: relative;
}

.templetes-image{
  width: 100%;
  transition: transform 2s ease;
}

.templates-radio:hover .templetes-image {
  transform: translateY(-50%);
}

#selected {
  border: #8B5FBF 4px solid;
}


.social-links-card{
  background-color: var(--bg-300);
  /* background-color: #fff; */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.social-links-card-body{
  padding: 2.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

@media only screen and (max-width: 900px) {
  .social-links-card-body{
    padding: 2.5rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }

  .edit-card-header-content button{
    width: 75%;
  }

  .settings-image-container{
    max-width: 200px;
    max-height: 200px;
  }
}

.social-links-row-added{
  display: flex;
  gap: 5%;
  align-items: center;
}

.social-links-icon{
  flex: 0 0 auto;
  width: 8.33333333%;
  margin-bottom: 0 !important;
  color: #8B5FBF;
}

.social-links-input{
  flex: 0 0 auto;
  width: 91.66666667%;
}

.social-links-form-controller:focus{
  border-color: #8B5FBF;
}

.social-links-form-controller{
  appearance: none;
  background-clip: padding-box;
  /* background-color: #fff; */
  background-color: var(--bg-200);
  color: var(--text-100);
  /* border: 1px solid #ced4da; */
  border: none;
  border-radius: 8px;
  /* color: #6c757d; */
  display: block;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  padding: 8px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  width: 90%;
}

.social-links-buttons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.social-links-buttons-save,
.social-links-buttons-cancel {
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  color: #fff;
}

.social-links-buttons-save {
  background-color: #8B5FBF;
}

.social-links-buttons-cancel {
  background-color: #dc3545;
}

.templates-flex-buttons{
  display: flex;
  margin: 0 auto;
  gap: 20px;
  margin-top: 20px;
}

.templates-save,
.templates-cancel{
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  color: #fff;
}

.templates-save{
  background-color: #8B5FBF;
}

.templates-cancel{
  background-color: #dc3545;
}

.choose-theme-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.choose-theme-message{
  color: #8B5FBF;
  font-size: 25px;
  font-weight: bold;
}

.choose-theme-button{
  padding: 7px 30px 7px 30px;
  font-size: 20px;
  margin-top: 15px;
  float: right;
  background-color: #8B5FBF;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-family: monospace;
  cursor: pointer;
}


/* ================================================ Services style ====================================================== */



.services-card{
  word-wrap: break-word;
  background-clip: border-box;
  /* background-color: #fff; */
  background-color: var(--bg-300);
  border: 0 solid rgba(6,9,23,.125);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  min-width: 0;
  position: relative;
  padding: 20px;
}



.services-card-body {
  width: 100%;
}

.services-card-body h2{
  text-align: center;
  color: var(--text-100);
}

.add-service-button {
  background-color: #8B5FBF;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 20px;
}

.cancel-service-button{
  background-color: #dc3545; 
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 20px;
}

.delete-service-icon{
  cursor: pointer;
  display: flex;
}

.add-service-button:hover {
  background-color: #ba8eec;
}



.add-service-input,
.add-service-description {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
  background-color: var(--bg-200);
  color: var(--text-100);
}

.add-service-description {
  height: 150px;
}

.services-react-data-table button{
  float: right;
  background-color: #ba8eec;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  border: none;
  padding-right: 20px;
  padding-left: 20px;
  cursor: pointer;
}


.services-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.full-screen-services-modal {
  background-color: var(--bg-300);
  border-radius: 10px;
  padding: 20px;
  width: 80%;
  max-width: 600px;
}

.flexed-services-buttons{
  display: flex;
  justify-content: center;
  gap: 20px;
}


/* ================================================ Gallery style ====================================================== */

input[type="file"] {
  display: none;
}

.file-name{
  height: 100px;
  width: 150px;
  border-radius: 5px;
  border: 1px dashed rgb(111, 84, 211);
  padding: 20px;
  cursor: pointer;
}

.upload-container{
  margin: 20px;
  margin-bottom: 40px;
  margin-top: 50px;
  text-align: center;
}


.image-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 100px;
}

.gallery-item {
  flex: 0 0 calc(25% - 16px);
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 10%;
}

.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
  object-fit: cover;
}

.gallery-item:hover .gallery-image {
  /* transform: scale(1.1); */
}

.delete-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  /* color: #fff; */
  /* background-color: rgba(0, 0, 0, 0.7); */
  border-radius: 50%;
  padding: 8px;
  transition: background-color 0.3s ease-in-out;
  /* display: none; */
  transition: 0.2s;
}

.gallery-item:hover .delete-icon {
  background-color: rgba(0, 0, 0, 0.9);
  /* display: block; */
}

.container-gallery{
  padding: 20px;
  border-radius: 5px;
  background-color: var(--bg-300);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


/* ================================================ BsHours style ====================================================== */

.time-picker-container {
  background-color: var(--bg-300);
  padding: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  flex-direction: column;
}

.day-container{
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
}

.time-select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 5px;
  cursor: pointer;
  background-color: var(--bg-300);
  color: var(--text-100);
  margin-top: 5px;
}

.time-range{
  display: flex;
  align-items: center;
  gap: 20px;
}

.time-checkbox-label{
  width: 200px;
  cursor: pointer;
}

/* .time-checkbox-label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.time-range {
  display: flex;
  align-items: center;
}

.time-label {
  margin-right: 10px;
}

.time-select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 5px;
  cursor: pointer;
  background-color: var(--bg-300);
  color: var(--text-100);
}

.time-picker-content{
  display: flex;
} */