@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
.wb-contact-container{    
  min-height: 90vh;
  width: 100%;
  background: #faf3ff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wb-contact-content{
  width: 85%;
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 0px 80px rgba(0, 0, 0, 0.2);
}
.wb-contact-container .wb-contact-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wb-contact-container .wb-contact-content .wb-contact-left-side{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.wb-contact-content .wb-contact-left-side::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.wb-contact-content .wb-contact-left-side .wb-contact-details{
  margin: 14px;
  text-align: center;
}
.wb-contact-content .wb-contact-left-side .wb-contact-details .wb-contact-topic{
  font-size: 18px;
  font-weight: 500;
}
.wb-contact-content .wb-contact-left-side .wb-contact-details .wb-contact-text-one,
.wb-contact-content .wb-contact-left-side .wb-contact-details .wb-contact-text-two{
  font-size: 14px;
  color: #afafb6;
}
.wb-contact-container .wb-contact-content .wb-contact-right-side{
  width: 75%;
  margin-left: 75px;
}
.wb-contact-content .wb-contact-right-side .wb-contact-topic-text{
  font-size: 23px;
  font-weight: 600;
  color: #D6C6E1;
}
.wb-contact-right-side .wb-contact-input-box{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.wb-contact-right-side .wb-contact-input-box input,
.wb-contact-right-side .wb-contact-input-box textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.wb-contact-right-side .wb-contact-message-box{
  min-height: 110px;
}
.wb-contact-right-side .wb-contact-input-box textarea{
  padding-top: 6px;
}
.wb-contact-right-side .wb-contact-button{
  display: inline-block;
  margin-top: 12px;
}
.wb-contact-right-side .wb-contact-button input[type="button"]{
  color: #ffffff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #D6C6E1;
  cursor: pointer;
  transition: all 0.3s ease;
}
.wb-contact-button input[type="button"]:hover{
  background: #E9E4ED;
  color: #000000;
}
@media (max-width: 950px) {
  .wb-contact-container{
    width: 100%;
    padding: 30px 40px 40px 35px ;
  }
  .cwb-contact-ontainer .wb-contact-content .wb-contact-right-side{
   width: 75%;
   margin-left: 55px;
}
}
@media (max-width: 820px) {
  .wb-contact-container{
    height: 100%;
  }
  .wb-contact-container .wb-contact-content{
    width: 100%;
    flex-direction: column-reverse;
  }
 .wb-contact-container .wb-contact-content .wb-contact-left-side{
   width: 100%;
   flex-direction: row;
   margin-top: 40px;
   justify-content: center;
   flex-wrap: wrap;
 }
 .wb-contact-container .wb-contact-content .wb-contact-left-side::before{
   display: none;
 }
 .wb-contact-container .wb-contact-content .wb-contact-right-side{
   width: 100%;
   margin-left: 0;
 }
}