.wb-templates-container{
    height: 100%;
    background-color: #faf3ff;
    padding-top: 60px;
}

.wb-templates-content{
    /* padding-bottom: 100px; */
}

.wb-templates-images{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}

.wb-templates-line{
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5%;
    display: grid;
    padding: 10px;
    margin: 0 auto;
    transition: 0.3s;
}

.wb-templates-line img{
    /* margin: 0 auto; */
    border-radius: 10px;
}

@media (min-width: 768px) {
    .wb-templates-line {
      grid-template-columns: repeat(2, 1fr);
      height: 100%;
      padding-bottom: 100px;
    }
  }

  @media (min-width: 1024px) {
    .wb-templates-line {
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 40px;
        
    }
  }
  
  @media (max-width: 767px) {
    .wb-templates-line {
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 40px;
        height: 100%;
        padding-bottom: 300px;
    }
  }
/*   
  @media (max-width: 480px) {
    .wb-templates-line {
      grid-template-columns: 1fr;
    }
  } */
