/* Theme4.css */

.theme4-container {
    font-family: Arial, sans-serif;
    max-width: 400px;
    /* margin: 0 auto; */
    padding: 20px;
    background-color: #fffefb;
    margin: 0 auto;
    /* border: 1px solid #ddd; */
    /* border-radius: 5px; */
  }
  
  .theme4-content {
    /* text-align: center; */
  }
  
  .theme4-uppon-header header {
    /* background-color: #3498db; */
    background: linear-gradient(45deg,#d4eaf7, #b6ccd8);
    height: 6rem;
    color: #3b3c3d;
    padding: 20px 0;
    border-radius: 5px 5px 0 0;
    font-family: "Montserrat","sans-serif";
    font-weight: 600;
  }
  
  .theme4-card-owner span {
    font-size: 24px;
    margin-left: 20px;
  }
  
  .theme4-image-content img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #fff;
    float: right;
  }
  
  .theme4-second-section-content ul {
    list-style: none;
    padding: 0;
  }

  .theme4-second-section-content li:hover{
    background-color: #2980b9;
  }


  
  .theme4-second-section-content li {
    display: flex;
    align-items: center;
    margin: 15px 0;
    gap: 20px;
    padding: 10px;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 20px;
  }
  
  .theme4-icon-content button {
    background-color: #d4eaf7;
    color: #313d44;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .theme4-icon-content button:hover {
    background-color: #2980b9;
  }
  
  .theme4-data-content {
    /* margin-left: 15px; */
  }

  .theme4-added-section{
    margin-top: 20px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }

  .theme4-added-section-content{

  }

  .theme4-added-section-content p{
    padding-bottom: 10px;
    font-family: "Montserrat", "sans-serif";
    font-weight: 600;
    color: #313d44;
  }

  .theme4-first-p{
    font-weight: 800 !important;
    font-size: 25px;
  }

  .theme4-second-p{
    /* font-weight: 600 !important; */
    font-size: 20px;
  }


  .theme4-another-one-container{
    margin-top: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
  }

  .theme4-contact-1{
    margin-bottom: 20px;
    /* background-color: #3498db; */
    background: linear-gradient(45deg,#d4eaf7, #b6ccd8);
    cursor: pointer;

  }

  .theme4-second-section-container{
    margin-top: 20px;
    margin-bottom: 20px;
    background: linear-gradient(45deg,#d4eaf7, #b6ccd8);
    padding-bottom: 30px;
  }

  .theme4-services-container{
    border-top: 1px solid #ddd;
    padding-top: 20px;
  }

  .theme4-add-cntc{
    background-color: #313d44;
    /* display: flex; */
    /* justify-content: center; */
    border: none;
    padding: 10px 20px;
    color: #ddd;
    font-size: 17px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
  }

  .theme4-add-cntc:hover{
    background-color: #425058;
  }

  .theme4-one-service{
    margin-top: 10px;
    display: flex;
    align-items: center;
    background: linear-gradient(45deg,#d4eaf7, #b6ccd8);
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
  }

  .theme4-service-body{
    margin-left: 20px;
    color: rgb(46, 46, 46);
  }
