/* ImageComponent.css */

.image-container-hover {
    position: relative;
    width: 300px;
    height: 200px;
    overflow: hidden;
  }
  
  .image-half-hover,
  .image-full-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    transition: opacity 0.3s ease;
  }
  
  .image-half-hover {
    z-index: 2;
    opacity: 1;
  }
  
  .image-container-hover:hover .image-half-hover {
    opacity: 0.5;
    cursor: pointer;
  }
  
  .image-full-hover {
    z-index: 1;
    opacity: 0;
  }
  
  .image-container-hover:hover .image-full-hover {
    opacity: 1;
  }
  

  /* ImageComponent.css */


.modal {
    display: block;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .modal img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
  }
  
  .close {
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
  }
  