*{
    margin:0;
    padding: 0;
}

:root {

    --primary-100:#8B5FBF;
    --primary-200:#61398F;
    --primary-300:#FFFFFF;
    --accent-100:#D6C6E1;
    --accent-200:#9A73B5;
    --text-100:#4A4A4A;
    --text-200:#878787;
     --bg-100:#F5F3F7; 
    --bg-200:#E9E4ED;
    --bg-300:#FFFFFF;
    color: var(--text-100);
    transition:300ms color  ease-in-out;
     
  }

.dashboard-container{
    height: 100vh;
    width: 100%;

}



/* ======================================================================= BODY =============================================================================================== */

.body-container{
    background-color: var(--bg-100);
    width: 100%;
    height: 100%;
    display: flex;
}


.sidebar::before  {
    content: "";
    position: absolute;
    top: 5%;
    bottom: 5%;
    right: 0;
    width: 1px;
    background-color: var(--accent-100);

  }

  .dark-mode-icon{
    font-size: 30px;
    color: var(--primary-100);
    cursor: pointer;
  }
  /* ======================================================================= TOPBAR =============================================================================================== */
  .topbar-container{
    position: absolute;
    height: 100%;
    z-index: 2;
    width: 100%;
    transform: translateY(calc(-100% + 100px));  
    transition: all 0.5s ease;
  }
  .opened-topbar{
    transform: translateY(0);  
  }  
  .blured-backgrounf-topbar{
    background-color: rgba(196, 196, 196, 0.171);
    backdrop-filter: blur(30px);
  }
  .topbar-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: calc(100% - 100px);
    background-color: rgba(196, 196, 196, 0.171);
    backdrop-filter: blur(30px);
  }

  .icon-topbar-item{
    font-size: 25px;
    padding: 10px;
    border-radius: 10px;
  }

  .topbar-item{
    display: flex;
    align-items: center;
    margin-left: 20px;
    gap: 20px;
    width: 200px;
    cursor: pointer;
    height: 50px;
  }
  .topbar-container-header{
    width: 100%;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    height: 100px;
    
  }
  .topbar-container-header-title{
    display: flex;
    align-items: center;
    margin: 0 auto;
  }

  .dark-mode-icon-topbar{
    font-size: 30px;
    color: var(--primary-100);
    cursor: pointer;
    margin-right: 100px;
    position: absolute;
  }


  @media (max-width: 600px) {
    .topbar-container-header-title img{
        display: none;
    }
  }


  /* ======================================================================= SIDEBAR =============================================================================================== */
  .icon-settings{
    cursor: pointer;
    position: absolute;
    font-size: 20px;
    right:10px;
    top:10px;
    z-index: 3;
  }
  .icon-settings:hover{
    color :var(--primary-100)
  }
  
  .sidebar{
    display: flex;
    flex-direction: column;
    flex: 0 0 250px;
    height: 100%;
    transition:300ms all  ease-in-out;
    position: relative;
    overflow: hidden;
    
   }
  .sidebar-top{
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
  }

  .sidebar-items{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
    padding-top: 30%;
  }

  .sidebar-bottom{
    cursor: pointer;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
  }


  .closed{
    flex:0;
    opacity: 0;
  }

.icon-fa-user{
  font-size: 40px
}

.sidebar-item{
  display: flex;
  align-items: center;
  margin-left: 15px;
  gap: 20px;
  width: 200px;
  cursor: pointer;
}

.sidebar-text{
  white-space: nowrap;
  font-size: 17px;
  color: var(--text-200);
}
h2.sidebar-text{
  color: var(--text-100);
  font-size: 16px;

}
.icon-sidebar-item{
  font-size: 30px;
  border-radius: 10px;
  padding: 10px;
  width: 20px;
  height: 20px;
  background-color: var(--bg-200);
}

.sidebar-item:hover{
border-left: 2px var(--primary-100) solid;
padding-left: 5px;
}
.selected-text{
color: var(--text-100);
}
.selected-icon{
   background-color: var(--primary-100);
   color: var(--primary-300);
 
}

.sidebar-image-account::after {
  content: attr(alt);
  display: inline-block;
  background: linear-gradient(to bottom, var(--primary-100), rgb(233, 227, 227));
  color: #000000;
  padding: 30px 25px;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 1;
  border-radius: 50%;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 18px;
}

.sidebar-image-account[alt] {
  color: transparent;
}

.sidebar-image-account{
    margin-top: 30px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
  /* ======================================================================= MAIN CONTAINER =============================================================================================== */

  .main-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:50px ;
    overflow-y: auto;

  }

  .main-container-header{

    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .main-container-body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 100%;
 
  }
  .main-container-header-title{
    width: 70%;
  }


  .screen-container{
    width: 97%;
    height: 97%;
    border-radius: 10px;
    padding: 10px;
  }


  .container{
    overflow-y: auto;
    background-color: var(--bg-200);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }

  /* ======================================================================= SETTINGS CONTAINER =============================================================================================== */


  .settings-data-container{
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
  }

  .settings-button-container{
    width: 100%;

  display: flex;
  justify-content: center;
  }

  .settings-info-container{
    display: flex;
    flex-direction: column;
  }

  .settings-form{
    width: 97%;
    display: flex;
    flex-direction: column;

    height: 100%;
    justify-content: space-evenly;
  }


  .button{
    width: 200px;
    font-size: 20px;
    height: 50px;
    border-radius: 10px;
    border: none;
    color: var(--primary-300);
    background-color:var(--primary-100) ;
    cursor: pointer;
    transition: 0.3s;
  }
  .button:hover{
    background-color:var(--primary-200) ;
  }
  .validate-button:hover{
    background-color:var(--primary-200) ;
    
  }

  .settings-input{
    padding: 7px;
    border-radius: 5px;
    width: 250px;
    height: 30px;
    padding-left: 10px;
    font-size: 15px;
    border:2px solid var(--bg-200) ;
    margin: 10px 0;
    background-color: var(--bg-100);
    color: var(--text-100);
    padding: 20px 30px;
  }

  .settings-input:focus{
    outline: none ;
    border:2px solid var(--primary-100) ;
  
  }


  .settings-image-container{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border:5px solid var(--primary-100) ;
    position: relative;
  }

  .settings-image-container img{
    width: 250px;
    height: 250px;
    object-fit: cover;
  }


  .add-image-overlay {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0; 
    transition: opacity 0.3s;
  }

  @media (max-width: 878px) {
    .settings-image-container {
      display: block;
    }
  }
  

  .add-image-overlay .add-image-button {
    padding: 10px 20px;
    font-size: 50px;
    color: #892CDC;
    border: none;

  }
  

  .settings-image-container:hover .add-image-overlay {
    opacity: 1;
    cursor: pointer;
  }

  .changePass{
    background-color:var(--primary-100) ;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 15px;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    transition: 0.3s;
  }

  .changePass:hover{
    background-color:var(--primary-200) ;
  }

  .bbbb:focus{
    outline: none;
  }




  /* ======================================================================= MY CARDS CONTAINER =============================================================================================== */

  .mycards{
    justify-content: flex-start;
    align-items: center;
    
    
  }

.cards-header{
  padding: 10px;

}
.cards-table-container{
  width: 97%;
  box-shadow: rgba(83, 86, 90, 0.2) 0px 8px 24px;
  border-radius: 10px;
  overflow-y: auto;
  background-color: var(--bg-300);
}


.action-icon{
  color: var(--primary-200);
  font-size: 18px;
  cursor: pointer;
  padding: 0 5px;
}
.action-icon:hover{
  color: var(--primary-100);
}
.card-list-table{

  width: 100%;
  padding: 10px;
  border-collapse: collapse;
}

.card-list-head{
  

  background-color: var(--bg-100);
  height: 50px;
  position: sticky;
  top: 0;
}
.card-list-head-row{
  border-bottom: #4A4A4A 2px solid;

}

.card-list-head-row th{
  font-size: 13px;
}

.card-list-body {
  
}
tr:nth-child(even) {
  background-color: var(--bg-100);
 
}

.card-table-row{
  height: 75px;
}
td{
  text-align: center;
}

.mycards-status-checkbox {
  --toggle-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 35px;
  height: 15px;
  background: linear-gradient(to right, var(--primary-300) 50%,  var(--primary-200) 50%) no-repeat;
  background-size: 205%;
  background-position: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  border-radius: 99em;
  position: relative;
  cursor: pointer;
  font-size: var(--toggle-size);
  border: 1px solid var(--text-200);
}

.mycards-status-checkbox::before {
  content: "";
  width: 17px;
  height: 17px;
  position: absolute;
  top: -2px;
  left: -2px;
  background: linear-gradient(to right, var(--primary-100)  50%, var(--primary-100) 50%) no-repeat;
  background-size: 205%;
  background-position: 100%;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
 
}

.mycards-status-checkbox:checked::before {
  left: calc(100% - 0.25em - 0.438em);
  background-position: 0;
}

.mycards-status-checkbox:checked {
  background-position: 100%;
}
.closeIcon-container-body{
  display: none;
}
.closeIcon-container-sidebar{
  position: absolute;
  z-index: 2;
}
  /* ======================================================================= RESPONSIVE =============================================================================================== */

  @media (max-width: 800px) {
    .settings-data-container {
      flex-direction: column;
    }

    .settings-image-container img{
      width: 150px;
      height: 150px;

    }

    .settings-form{
      justify-content: flex-start;
      margin-top: 50px;
      gap: 30px;
    }

    .sidebar{
      display: none;
    }

    .closeIcon-container-sidebar{
      display: none;
    }
    .closeIcon-container-body{
      display: block;
      margin-right: 15px;
    }
    .edit-card-header-content{
      flex-direction: column;
    }
  }


    /* ======================================================================= Notes style =============================================================================================== */


  .notes-content{
    margin: 0 auto;
    padding: 50px 20px; 
  }

  .notes-content li{
    list-style: none;
    margin-bottom: 10px;
  }